services:
  app:
    restart: unless-stopped

    build:
      context: ./app
      dockerfile: Dockerfile

    ports:
      - "3000:3000"

    environment:
      - PORT=3000

    healthcheck:
      test: wget -q --spider http://localhost:3000/ || exit 1
      interval: 30s
      timeout: 5s
      retries: 3

    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 256M
        
